<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

    <link rel="stylesheet" href="/css/stylerg.css">
</head>
<body>


<main class="main">
    <div class="container">
        <form action="/register" method="post" id="form">
            <div class="form-block">
                <h1 class="form-title">
                    Welcome!
                </h1>
            </div>
            <hr style="font-weight: bold; color: black; margin-top: 10px;">

            <div class="form-block fb">
                <label class="label">FIRSt NAME</label>
                <div class="input-block">
                    <input  id="name" class ="form-control" type="text" name="name">
                </div>
            </div>

            <div class="form-block fb">
                <label class="label">EMAIL</label>
                <div class="input-block">
                    <input  id="email" class ="form-control" type="email" name="email">
                </div>
            </div>

            <div class="form-block fb">
                <label class="label">PASSWORD</label>
                <div class="input-block">
                    <input id="password" class="form-control" type="password" name="password">
                </div>
            </div>

            <div class="form-block fb">
                <label class="label">COUNTRY</label>
                <input id="country" type="text" class="form-control" name="country" >
            </div>

            <div class="form-block fb">
                <div class="center">
                    <input type="submit" id="btn" class="btn" value="Register">
                </div>
            </div>
            <br>
            <p>Already have an account? <a href="/login">Log In</a></p>
        </form>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="signup.js"></script>
</body>
</html>